.sidenav {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.overlay{
       z-index: 9;
}

.sidenav a {
  padding-top: 8px;;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
  transition: 0.3s;
}


.new-board{
  /* padding: 8px 8px 8px 32px; */
  text-decoration: none;
  font-size: 25px;
  color: #cfcfcf;
  font-weight: 700;
  display: block;
  transition: 0.3s;
}

.board-links{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap
}

.board-asset>img{
  
  border-radius: 7px;
}
.board-asset{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px 10px 10px;
}

.board-asset:hover{
  transform: scale(1.05);
}

.new-board{
  padding: 8px 8px 8px 32px;
  margin-bottom: 20px;
}


.sidenav div>a {
  font-weight: normal;
}


.sidenav > div:hover{
  color: rgb(182, 250, 227);
  cursor: pointer;
}


.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 50px;
  margin-left: 50px;
}



@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}